main.container {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  border-radius: var(--eight-px);
  background-color: var(--dark-desatured-blue);
}

@media screen and (min-width: 1024px) {
  main.container {
    max-width: 1200px;
    max-height: 440px;
    flex-direction: row;
  }
}