section.content {
  padding: 4rem;
  text-align: center;

  h1 {
    font-size: 2.6rem;

    span {
      color: var(--soft-violet);
    }
  }

  p {
    color: var(--slightly-transparent-white-two);
    line-height: 160%;
  }
}

@media screen and (min-width: 768px) {
  section.content {
    padding: 4rem 8rem 4rem 4rem;
    text-align: start;
  }
}