section.content {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;

  div.description {
    display: grid;
    gap: 2rem;

    h1 {
      font-size: 2.6rem;
  
      span {
        color: var(--soft-violet);
      }
    }
  
    p {
      color: var(--slightly-transparent-white-two);
      line-height: 160%;
    }
  }
}

@media screen and (min-width: 768px) {
  section.content {
    padding: 6rem 16.32rem 6rem 6rem;
    text-align: start;
    gap: 6rem;

    div.description { 
      h1 {
        font-size: 5rem;
      }

      p {
        max-width: 350px;
      }
    }
  }
}