img.desktop {
  display: none;
  border-radius: 0 var(--eight-px) var(--eight-px) 0;
}

img.mobile {
  max-width: 100%;
  border-radius: var(--eight-px) var(--eight-px) 0 0;
}

.image-container-mobile,
.image-container-desktop {
  position: relative;

  div.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--soft-violet);
    mix-blend-mode: multiply;
  }
}

@media screen and (min-width: 1024px) {
  img.desktop {
    display: block;
  }

  img.mobile {
    display: none;
  }
}