div.presentation-container {
  padding: 2rem;
  text-align: center;

  h1.title {
    font-size: 3rem;

    span.highlight {
      color: var(--soft-violet);
    }
  }

  p,
  .mark-text {
    font-weight: 300;
    color: var(--slightly-transparent-white-two);
  }
}